# Dependencies
*node_modules/

# Build output
dist/
dist-ssr/
build/

# Vite
.vite/
vite.config.*.timestamp-*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cache
.eslintcache
.stylelintcache
.cache/
*.tsbuildinfo

# Testing
coverage/
